#QuanconnectTutortials
###Andrés Camilo Cardona Carrasquilla
###ancardonac@unal.edu.co

### 01.Python: Data Types and Data Structures

####**Introduction**

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

####**Basic Variable Types**

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Mi correo usuario es'
my_string2 = "ancardonac"
my_string3 = 'el dominio de mi organización'
my_string4 = "unal.edu.co"
my_string5 = "por lo tanto mi correo es:"
print(my_string1 + ' ' + my_string2 + ' '+ my_string3 + ' '+ my_string4 + ' '+ my_string5 +'\n ' + my_string2 +'@'+ my_string4)

Mi correo usuario es ancardonac el dominio de mi organización unal.edu.co por lo tanto mi correo es:
 ancardonac@unal.edu.co

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 8010
print(my_int)
print(type(my_int))

8010
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
print("y ahora vamos a convertir un String en int")
my_int = int(my_string)
print(type(my_int))

<class 'str'>
y ahora vamos a convertir un String en int
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [ ]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
my_float = 1.58
print(type(my_float))
my_int = 5
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "28.58"
my_float = float(my_string)
print(type(my_float))
my_float= int(my_float)
print(my_float)
print(type(my_float))

<class 'float'>
28
<class 'int'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = 'true'
print(my_bool)
my_bool = bool(my_bool)
print(my_bool)
print(type(my_bool))

true
True
<class 'bool'>

####**Basic Math Operations**

The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [ ]:
print("Addition ", 1+1+5.0+12)
print("Subtraction ", 5-2.0)
print("Multiplication ", 2*3895.26)
print("Division", 10/2.5)
print("exponent", 5.0**3)

Addition  19.0
Subtraction  3.0
Multiplication  7790.52
Division 4.0
exponent 125.0

####**Data Collectors**

#####List

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
print(my_list)

[1527, 'Muletas', 'depresion', 'llorar', 1.1, '2', 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
print(len(my_list))
print(my_list[0+5])
print(my_list[len(my_list) - 2])

7
2
2

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
my_list[0] = 'Valor generico inicial'
my_list[len(my_list)-1] = 'Valor generico final'
print(my_list)

['Valor generico', 'Muletas', 'depresion', 'llorar', 1.1, '2', 'Valor generico final']

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
print(my_list[int(len(my_list)/2):len(my_list)-1])

['llorar', 1.1, '2']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
print(my_list[1:])

['Muletas', 'depresion', 'llorar', 1.1, '2', 3]

And all elements up to but excluding index 3 and those at its right side:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
print(my_list[:3])

[1527, 'Muletas', 'depresion']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
my_list = [1527, 'Muletas','depresion', 'llorar', 1.1,'2',3]
my_list.remove(3)
my_list.remove(1527)
print(my_list)
my_list.append('1527')
my_list.remove('llorar')
my_list.remove('Muletas')
print(my_list)

['Muletas', 'depresion', 'llorar', 1.1, '2']
['depresion', 1.1, '2', '1527']

When there are repeated instances of "Hello", the first one is removed.

#####Tuple

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
my_tuple = ('Cam','Caro')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Cam','no','deja', 'todo', 'para el final' )
print(my_tuple[2:])

('deja', 'todo', 'para el final')

#####Set

A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'F', 'GOOG', 'AAPL'}

In [ ]:
stock_list = ['CELIA','JOROPO','IBM','CELIA','PETRONA','FB','F','JOROPO', 'PETRONA          ']
stock_set = set(stock_list)
print(stock_set)

{'CELIA', 'JOROPO', 'IBM', 'PETRONA          ', 'F', 'FB', 'PETRONA'}

Set is an easy way to remove duplicate elements from a list.

#####Dictionary

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [ ]:
my_dic2 = {'15': 'Cam', '01': 'Caro', '27': 'Adri'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
print(my_dic2['27'])

Adri

We can also change the value associated with a specified key:

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic2['27'] = 'Adriana - la patrona'
print(my_dic2['27'])

Adriana - la patrona

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(my_dic2.keys())

dict_keys(['15', '01', '27'])

####**Common String Operations**

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str2 = 'No dejes las cosas para el final'
print(my_str2[19:])

para el final

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [ ]:
print("Counting the number of e's in this sentence".count('e'))

print('The first time e appears in this sentence'.find('e'))

print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
print("si tu gusto gustara del gusto que gusta mi gusto, mi gisto gustaría del gusto que gusta tu gusto".count('g'))

print('si tu gusto gustara del gusto que gusta mi gusto, mi gisto gustaría del gusto que gusta tu gusto'.find('i'))

print('si tu gusto gustara del gusto que gusta mi gusto, mi gisto gustaría del gusto que gusta tu gusto'.replace('gusto','cerbeza'))

10
1
si tu cerbeza gustara del cerbeza que gusta mi cerbeza, mi gisto gustaría del cerbeza que gusta tu cerbeza

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
fullname = 'Cardona Carrasquilla, Andres Camilo'
splited_list = fullname.split(',')
lastname = splited_list[0]
name = splited_list[1]
print(name, lastname)
firstname = name.split(' ')[1]
print(firstname)

 Andres Camilo Cardona Carrasquilla
Andres

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
my_presentation = 'Name: {}, Program: {}'.format('Camilo C.', 'Law')
print(my_presentation)

Name: Camilo C., Program: Law

Another way to format a string is to use the % symbol.

In [ ]:
print( 'su cambio es %f' % 3.14)
print('%s Para %s' % ('no dejar todo', 'para en final'))

su cambio es 3.140000
no dejar todo Para para en final

%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

####**Summary**

We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

### 02.Logical Operations and Loops

####**Introduction**

We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

####**Logical Operations**

Like most programming languages, Python has comparison operators:

In [ ]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
print ('1' == '1')    # '1' equals '1'
print (1 == 1)    # 1 equals 1
print (len("LA CUCARACHA") == 'A')    # "LA CUCARACHA"'s number of characters is  equal to the letter 'A'
print (0 >= 0.1)    # 0 is greater than or equal to 0.1
print (5.5 >= 5.56)    # 5.5 is greater than or equal to 5.5

True
True
False
False
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

* The statement "P and Q" is true if both P and Q are true, otherwise it is false.

* The statement "P or Q" is false if both P and Q are false, otherwise it is true.

* The statement "not P" is true if P is false, and vice versa.

In [ ]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print ("microscoipio".count('o') > 1 and "microscoipio".count('o') > 2)
print ("microscoipio".count('o') > 1 and "microscoipio".count('l') > 2)
print ("microscoipio".count('m') >= 1 and "microscoipio".count('m') < 2)
print ("microscoipio".count('8') > 1 and "microscoipio".count('l') > 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print (('mocamocamoca'.count('amo') > 2 or 'mocamocamoca'.count('L') < 3) and ('Lluvia'!='lluvia' and 4>3) and not ( 33 < 2 or 1.14 < 2.14 and (1!=3 and 4>3)))
print (3 -2> 0 or 1 < 3 and ('love'!=3 and 43+28>3) and not ( True!=False or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

####**If Statement**

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

In [ ]:
if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [ ]:
i = 1
if i != 0: print ('i == 0 is not  true')

i == 0 is not  true

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [ ]:
p = 'Pablo123'
q = 'Pablo1234'
if p == q or len(p)==len(q):
    print ('p and q are the same')
elif p.count('o') and q.count('o'):
    print ('p and q hava the same number of o''s')
else:
    print ('complitely different' )

p and q hava the same number of os

####**Loop Structure**

Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

#####While Loop

A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [ ]:
i = 0
while i < 5:
    print (2**i)
    i += 1

1
2
4
8
16

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

#####For Loop

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [ ]:
for x in [1,2,3,4,5]: print (x**x)

1
4
27
256
3125

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE', 'miedo', 'dejar todo al final']
selected = ['AAPL','IBM', 'dejar todo al final']
new_list = []
for stock in stocks:
    if stock  in selected:
        new_list.append(stock)
print (new_list)

['AAPL', 'IBM', 'dejar todo al final']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

#####Break and continue

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [ ]:
stocks = ['1','2','3','4','5','6', '7', '9']
for stock in stocks:
    print (stock)
    if stock == '2': break

1
2

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
stocks = ['1','2','3','4','5','6', '7', '8']
for stock in stocks:
    if int(stock) %2== 0: continue
    print (stock)

1
3
5
7

####**List Comprehension**

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(str(i)+'cp 100100' +str(i))
print (squares)

['1cp 1001001', '2cp 1001002', '3cp 1001003', '4cp 1001004', '5cp 1001005']

Using list comprehension:

In [ ]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
foo = [1,2,3,4,5]
codes = [str(x**2)+'code' for x in foo]
print (codes)

['1code', '4code', '9code', '16code', '25code']

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
selected2 = ['F','V']
new_list = [x for x in stocks if x not in selected and x not in selected2 ]
print (new_list)

['GOOG', 'FB', 'G', 'GE']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print("los encuentros dew apertura del evento serán:")
print ([(x, y) for x in ['tk','cam','nagi'] for y in ['tk','rojo','negro'] if x != y])

los encuentros dew apertura del evento serán:
[('tk', 'rojo'), ('tk', 'negro'), ('cam', 'tk'), ('cam', 'rojo'), ('cam', 'negro'), ('nagi', 'tk'), ('nagi', 'rojo'), ('nagi', 'negro')]

List comprehension is an elegant way to organize one or more for loops when creating a list.

####**Summary**

This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

### 03.Functions and Objective-Oriented Programming

####**Introduction**

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

####**Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

In [ ]:
def prefix(x,y):
    return x+y
print (prefix('pre','universitario'))
print (prefix('AL','2032'))

preuniversitario
AL2032

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [ ]:
def curse():
    print ("Welcome to the end of the world")
curse()

Welcome to the end of the world

####**Built-in Function**

**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print (range(10)) 
print (range(1, 11))
print (range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
print (range(20,2)) 
print (range(5, 11))
print (range(1, 20, 3))

range(20, 2)
range(5, 11)
range(1, 20, 3)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
jugadores = ['camilo', 'sara', 'dario', 'apu', 'muzu', 'chavez', 'sara2', ]
print ("The number of tickers is {}".format(len(jugadores)))
for k in range(len(jugadores)):
    print (len(jugadores)-k, jugadores[k])

The number of tickers is 7
7 camilo
6 sara
5 dario
4 apu
3 muzu
2 chavez
1 sara2

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
def diminutivo(x):
    return x +'ito'

jugadores = ['camilo', 'sara', 'dario', 'apu', 'muzu', 'chavez', 'sara2', ]
print(list(map(diminutivo,jugadores)))

['camiloito', 'saraito', 'darioito', 'apuito', 'muzuito', 'chavezito', 'sara2ito']

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
potencia =map(lambda x: x**2, range(10))
print(list(potencia))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
potencia =map(lambda x: x**x, range(10))
print(list(potencia))

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

**map()** can be applied to more than one list. The lists have to have the same length.

In [ ]:
adder= map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])
print(list(adder))

[6, 6, 6, 6, 6]

In [ ]:
concat= map(lambda x, y: x+y, ['cam ','fanny ','lucas '], ['cardona','fierro','versalles'])
print(list(concat))

['cam cardona', 'fanny fierro', 'lucas versalles']

**sorted()** takes a list or set and returns a new sorted list:

In [ ]:
print(sorted([5,2,3,4,1]))

[1, 2, 3, 4, 5]

In [ ]:
print(sorted(['gamma','delta','alfa','omega','py']))

['alfa', 'delta', 'gamma', 'omega', 'py']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
price_list = [('AAPL', 'alpha'), ('GOOGL', 'gamma'), ('MSFT', 'beta'), ('FB', 'fi'), ('WMT', 'chango')]
sorted(price_list, key = lambda x: x[1])

[('AAPL', 'alpha'),
 ('MSFT', 'beta'),
 ('WMT', 'chango'),
 ('FB', 'fi'),
 ('GOOGL', 'gamma')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [ ]:
price_list = [('AAPL', 'alpha'), ('GOOGL', 'gamma'), ('MSFT', 'beta'), ('FB', 'fi'), ('WMT', 'chango')]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 'gamma'),
 ('FB', 'fi'),
 ('WMT', 'chango'),
 ('MSFT', 'beta'),
 ('AAPL', 'alpha')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
price_list = [('AAPL', 'alpha'), ('GOOGL', 'gamma'), ('MSFT', 'beta'), ('FB', 'fi'), ('WMT', 'chango')]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('AAPL', 'alpha'), ('MSFT', 'beta'), ('WMT', 'chango'), ('FB', 'fi'), ('GOOGL', 'gamma')]

#####**Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

#####**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [ ]:
class Guia:
    def __init__(self,numero, cliente, fechasalida, fechaentrega):
        self.numero = numero
        self.cliente = cliente
        self.fechasalida = fechasalida
        self.fechaentrega = fechaentrega

    def update(self, fechaentrega, cliente):
        self.fechaentrega = fechaentrega
        self.cliente =cliente

    def print_numero(self):
        print (self.numero)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
guia_1 = Guia('01','express','15-10-2021','16-10-2021')
guia_2 = Guia('00','express','20-10-2021','21-10-2021')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

In [ ]:
print(guia_1.numero)
guia_1.print_numero()
guia_2.update('mañana', 'cliente')
print(guia_2.fechaentrega)

01
01
mañana

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
guia_2.recibe ='camcardo'
guia_2.recibe

'camcardo'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(guia_1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'cliente',
 'fechaentrega',
 'fechasalida',
 'numero',
 'print_numero',
 'update']

#####**Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [ ]:
class Subguia(Guia):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [ ]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
aa.print_return()

AA
100
102
0.020000000000000018

In [ ]:
sub1 =Subguia('AA')
print(sub1.name)
sub1.update('mañana', 'cliente')
print(sub1.fechaentrega)

AA
mañana

As seen above, the new class Child has inherited the methods from Stock.

####**Summary**

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

### 04. NumPy and Basic Pandas

####**Introduction**

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

####**NumPy**

NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [53]:
import numpy as np

#####Basic NumPy Arrays

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
name_list = ['cam', 'dario', 'Apu', 'bender', 'maria', 'prueba']
price_array = np.array(name_list)
print (price_array, type(price_array))

['cam' 'dario' 'Apu' 'bender' 'maria' 'prueba'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
Ar2 = np.array([['cam','apu','dario'], ['bender','muzu','sara']])
print (Ar2, type(Ar))

[['cam' 'apu' 'dario']
 ['bender' 'muzu' 'sara']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print (Ar.shape)

(2, 2)

In [ ]:
print (Ar2.shape)

(2, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [ ]:
print (Ar2[1])
print (Ar2[0])

['bender' 'muzu' 'sara']
['cam' 'apu' 'dario']

If we want to access the matrix by column instead:

In [ ]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
print ('First column:', Ar2[:,0])
print ('Second column:', Ar2[:,1])

First column: ['cam' 'bender']
Second column: ['apu' 'muzu']

#####Array Functions

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
np.log(Ar)

array([[0.        , 1.09861229],
       [0.69314718, 1.38629436]])

Other functions return a single value:

In [ ]:
Other functions return a single value:

In [ ]:
np.mean(price_array)
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

0.9673790478515796
863.38
145.83

In [ ]:
np.mean(Ar)
print (np.std(Ar))
print (np.sum(Ar))
print (np.max(Ar))

1.118033988749895
10
4

The functions above return the mean, standard deviation, total and maximum value of an array.

####**Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [37]:
import pandas as pd

#####Series

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [5]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [6]:
price2 = [5, 10, 15, 20, 25, 30]
s2 = pd.Series(price2)
print (s2)

0     5
1    10
2    15
3    20
4    25
5    30
dtype: int64

We can customize the indices of a new Series:

In [7]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [8]:
s2 = pd.Series(price2, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s2)

a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

Or we can change the indices of an existing Series:

In [9]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [10]:
s2.index = [6,5,4,3,2,1]
print (s2)

6     5
5    10
4    15
3    20
2    25
1    30
dtype: int64

Series is like a list since it can be sliced by index:

In [11]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [12]:
print (s2[1:])
print (s2[:-2])

5    10
4    15
3    20
2    25
1    30
dtype: int64
6     5
5    10
4    15
3    20
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [13]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [14]:
print (s2[4])
s2[4] = 0
print (s2)

15
6     5
5    10
4     0
3    20
2    25
1    30
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [15]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [16]:
s2 = pd.Series(price2, name = 'knifes prices')
print (s2)
print (s2.name)

0     5
1    10
2    15
3    20
4    25
5    30
Name: knifes prices, dtype: int64
knifes prices

We can get the statistical summaries of a Series

In [17]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [18]:
print (s2.describe())

count     6.000000
mean     17.500000
std       9.354143
min       5.000000
25%      11.250000
50%      17.500000
75%      23.750000
max      30.000000
Name: knifes prices, dtype: float64

#####Time Index

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [61]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [39]:
time_index = pd.date_range('2017-01-01', periods = len(s2), freq = 'M')
print (time_index)
s2.index = time_index
print (s2)

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')
2017-01-31     5
2017-02-28    10
2017-03-31    15
2017-04-30    20
2017-05-31    25
2017-06-30    30
Freq: M, Name: knifes prices, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [32]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [25]:
s2.index = [6,5,4,3,2,1]
print (s2)
print (s2[2])

6     5
5    10
4    15
3    20
2    25
1    30
Name: knifes prices, dtype: int64
25

In [41]:
##If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [42]:
print (s.iloc[1])

145.83

In [43]:
print (s2.iloc[1])

10

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [62]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [47]:
#2017-02-28
s2.index = time_index
print (s2['2017-02-28'])

10

We can even access to a range of dates:

In [48]:
print (s['2017-01-02':'2017-01-05'])

Series([], Freq: M, Name: Apple Prices, dtype: float64)

In [49]:
print (s2['2017-01-02':'2017-05-05'])

2017-01-31     5
2017-02-28    10
2017-03-31    15
2017-04-30    20
Freq: M, Name: knifes prices, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [55]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-31    143.73
2017-03-31    143.68
2017-05-31    143.50
2017-06-30    142.62
Name: Apple Prices, dtype: float64
2017-04-30    144.02
Freq: M, Name: Apple Prices, dtype: float64

In [56]:
print (s2[s2 < np.mean(s2)])
print (s2[(s2 > np.mean(s2)) & (s < np.mean(s2) + 1.64*np.std(s2))])

2017-01-31     5
2017-02-28    10
2017-03-31    15
Freq: M, Name: knifes prices, dtype: int64
Series([], Freq: M, Name: knifes prices, dtype: int64)

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

####**Sumary**

Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

### 05.Pandas-Resampling and DataFrame

####**Introduction**

In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

####**Fetching Data**

Here we use the QuantBook API to retrieve data.

In [2]:

!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.6 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=bf9c454d0ebb27b3163f0244361fc3d5602753455f52907bfc05a05302cde077
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [3]:

import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.64877, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 67784928, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 67784928, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1400, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1800, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719189  22.848288  22.306532  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827741  42.004938  41.784641  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [67]:
FRUIT = yf.Ticker("cam")

# get stock info
print(FRUIT.info)

# get historical market data
FRUIT_TABLE = aapl.history(start="2017-01-01",  end="2018-12-31")
FRUIT_TABLE

{'exchange': 'YHD', 'shortName': '1307688', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'MUTUALFUND', 'symbol': 'CAM', 'market': 'us_market', 'quoteSourceName': 'Delayed Quote', 'regularMarketOpen': None, 'averageDailyVolume3Month': None, 'regularMarketTime': 1561759658, 'volume24Hr': None, 'regularMarketDayHigh': None, 'averageDailyVolume10Day': None, 'longName': None, 'regularMarketChange': None, 'regularMarketPreviousClose': None, 'preMarketPrice': None, 'exchangeDataDelayedBy': 0, 'toCurrency': None, 'postMarketChange': None, 'postMarketPrice': None, 'exchangeName': 'YHD', 'preMarketChange': None, 'circulatingSupply': None, 'regularMarketDayLow': None, 'priceHint': 2, 'regularMarketPrice': None, 'regularMarketVolume': None, 'lastMarket': None, 'regularMarketSource': 'DELAYED', 'openInterest': None, 'marketState': 'CLOSED', 'underlyingSymbol': None, 'marketCap': None, 'volumeAllCurrencies': None, 'strikePrice': None, 'maxAge': 1, 'fromCurrency': None, 'logo_url': ''}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-03  27.289876  27.414778  27.044786  ...  115127600        0.0             0
2017-01-04  27.301664  27.457203  27.278098  ...   84472400        0.0             0
2017-01-05  27.318156  27.539680  27.292233  ...   88774400        0.0             0
2017-01-06  27.520825  27.846043  27.447770  ...  127007600        0.0             0
2017-01-09  27.796554  28.145338  27.794199  ...  134247600        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2018-12-21  38.124593  38.440557  36.367353  ...  382978400        0.0             0
2018-12-24  36.007643  36.834010  35.628488  ...  148676800        0.0             0
2018-12-26  36.044104  38.214526  35.660087  ...  234330000        0.0             0
2018-12-27  37.876690  38.102727  36.474302  ...  212468400        0.0             0
2018-12-28  38.280146  38.528057  37.563154  ...  169165600        0.0             0

[501 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [69]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906761
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

In [73]:
fruit = FRUIT_TABLE['Close']['2018']
print(fruit)

Date
2018-01-02    41.248276
2018-01-03    41.241089
2018-01-04    41.432655
2018-01-05    41.904381
2018-01-08    41.748730
                ...
2018-12-21    36.634705
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952034
2018-12-28    37.971474
Name: Close, Length: 250, dtype: float64


Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [74]:

print(aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889843
2017-03-03    33.083923
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946640
2017-03-14    32.896938
2017-03-15    33.244862
2017-03-16    33.299313
2017-03-17    33.133625
2017-03-20    33.481556
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287468
2017-03-27    33.344269
2017-03-28    34.035393
2017-03-29    34.111134
2017-03-30    34.066158
2017-03-31    34.002262
Name: Close, dtype: float64

In [ ]:
print(aapl['2017-3'])

In [75]:
print(fruit['2018-05'])

Date
2018-05-01    40.656689
2018-05-02    42.452709
2018-05-03    42.529636
2018-05-04    44.198231
2018-05-07    44.518002
2018-05-08    44.731979
2018-05-09    45.046940
2018-05-10    45.691296
2018-05-11    45.517513
2018-05-14    45.411316
2018-05-15    44.998608
2018-05-16    45.418564
2018-05-17    45.131351
2018-05-18    44.967224
2018-05-21    45.285820
2018-05-22    45.172386
2018-05-23    45.462002
2018-05-24    45.411316
2018-05-25    45.515110
2018-05-29    45.350975
2018-05-30    45.254433
2018-05-31    45.102379
Name: Close, dtype: float64

In [76]:

aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289883
2017-02-03    30.419498
2017-02-06    30.704647
2017-02-07    30.996866
                ...
2017-04-24    33.997520
2017-04-25    34.208172
2017-04-26    34.006989
2017-04-27    34.033031
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [82]:
fruit['2018-01':'2018-03']

Date
2018-01-02    41.248276
2018-01-03    41.241089
2018-01-04    41.432655
2018-01-05    41.904381
2018-01-08    41.748730
                ...
2018-03-23    39.656498
2018-03-26    41.539074
2018-03-27    40.473972
2018-03-28    40.026768
2018-03-29    40.339321
Name: Close, Length: 61, dtype: float64


.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [83]:

print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657749
2017-12-18    42.244396
2017-12-19    41.794231
2017-12-20    41.748737
2017-12-21    41.906761
2017-12-22    41.906761
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64

In [84]:
print(fruit.head(3))
print(fruit.tail(2))

Date
2018-01-02    41.248276
2018-01-03    41.241089
2018-01-04    41.432655
Name: Close, dtype: float64
Date
2018-12-27    37.952034
2018-12-28    37.971474
Name: Close, dtype: float64

####**Resampling**

series.resample(freq) is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

series.resample.mean() is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [85]:

by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178331
2017-02-28    31.606275
2017-03-31    33.282221
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245240
2017-08-31    37.897229
2017-09-30    37.604737
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160036
Freq: M, Name: Close, dtype: float64

In [90]:
by_month2 = fruit.resample('Y').mean()
print(by_month2)

Date
2018-12-31    45.670879
Freq: A-DEC, Name: Close, dtype: float64


We can also aggregate the data by week:

In [91]:

by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097733
2017-01-22    28.266116
2017-01-29    28.553979
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [96]:
by_week2 = fruit.resample('W').mean()
print(by_week2.head(7))

Date
2018-01-07    41.456600
2018-01-14    41.920662
2018-01-21    42.683204
2018-01-28    41.707069
2018-02-04    39.779947
2018-02-11    37.893901
2018-02-18    40.384525
Freq: W-SUN, Name: Close, dtype: float64


We can also aggregate the data by month with max:

In [97]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451973
2017-03-31    34.111134
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944645
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332245
2017-11-30    42.050140
2017-12-31    42.244396
Freq: M, Name: Close, dtype: float64

In [98]:
fruit.resample('M').max()

Date
2018-01-31    42.924454
2018-02-28    43.029739
2018-03-31    43.690918
2018-04-30    42.854221
2018-05-31    45.691296
2018-06-30    46.818424
2018-07-31    47.021168
2018-08-31    55.132774
2018-09-30    55.309578
2018-10-31    56.208160
2018-11-30    53.822453
2018-12-31    44.920235
Freq: M, Name: Close, dtype: float64



We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [99]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398285
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078172
2017-01-15    28.279665
                ...
2017-12-17    42.019314
2017-12-20    41.854087
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172570
2017-02-05    29.108261
2017-02-19    31.516814
2017-03-05    32.595560
2017-03-19    33.017884
2017-04-02    33.625219
2017-04-16    33.849728
2017-04-30    33.791844
2017-05-14    35.697632
2017-05-28    36.496179
2017-06-11    36.515004
2017-06-25    34.529044
2017-07-09    34.265133
2017-07-23    35.278870
2017-08-06    36.272775
2017-08-20    37.904120
2017-09-03    38.458792
2017-09-17    38.282706
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757320
2017-11-12    41.032238
2017-11-26    41.204376
2017-12-10    40.867067
2017-12-24    41.620864
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178331
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186962
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160036
Freq: 2M, Name: Close, dtype: float64

In [100]:
three_day2 = fruit.resample('3D').mean()
two_week2 = fruit.resample('2W').mean()
two_month2 = fruit.resample('2M').mean()


print(three_day2)
print(two_week2)
print(two_month2 )

Date
2018-01-02    41.307340
2018-01-05    41.904381
2018-01-08    41.742350
2018-01-11    42.188129
2018-01-14    42.189323
                ...
2018-12-16    40.104231
2018-12-19    37.952029
2018-12-22    35.686821
2018-12-25    38.075989
2018-12-28    37.971474
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2018-01-07    41.456600
2018-01-21    42.259569
2018-02-04    40.743508
2018-02-18    39.139213
2018-03-04    42.144955
2018-03-18    42.850377
2018-04-01    40.898992
2018-04-15    41.172894
2018-04-29    40.603560
2018-05-13    43.507644
2018-05-27    45.277370
2018-06-10    46.039917
2018-06-24    45.499654
2018-07-08    44.673570
2018-07-22    46.032815
2018-08-05    47.347003
2018-08-19    50.782589
2018-09-02    53.054184
2018-09-16    54.176342
2018-09-30    53.436623
2018-10-14    54.361357
2018-10-28    53.057090
2018-11-11    50.955030
2018-11-25    45.100360
2018-12-09    43.010143
2018-12-23    39.913921
2019-01-06    37.452568
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2018-01-31    41.666180
2018-03-31    41.147481
2018-05-31    42.821453
2018-07-31    45.729048
2018-09-30    52.600223
2018-11-30    50.123821
2019-01-31    40.012814
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [101]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072529
2017-01-22    0.025552
2017-01-29    0.245288
2017-02-05    0.943261
2017-02-12    0.252002
2017-02-19    0.231394
2017-02-26    0.059346
2017-03-05    0.340092
2017-03-12    0.076286
2017-03-19    0.177836
2017-03-26    0.157264
2017-04-02    0.319809
2017-04-09    0.128690
2017-04-16    0.212476
2017-04-23    0.174670
2017-04-30    0.090024
2017-05-07    0.235640
2017-05-14    0.352978
2017-05-21    0.536089
2017-05-28    0.060389
2017-06-04    0.281221
2017-06-11    0.620034
2017-06-18    0.382562
2017-06-25    0.128894
2017-07-02    0.264110
2017-07-09    0.158888
2017-07-16    0.404279
2017-07-23    0.124991
2017-07-30    0.384444
2017-08-06    0.924388
2017-08-13    0.467466
2017-08-20    0.435252
2017-08-27    0.275767
2017-09-03    0.251726
2017-09-10    0.381641
2017-09-17    0.294138
2017-09-24    0.735189
2017-10-01    0.354842
2017-10-08    0.204851
2017-10-15    0.118732
2017-10-22    0.516997
2017-10-29    0.680453
2017-11-05    0.560684
2017-11-12    0.190974
2017-11-19    0.436200
2017-11-26    0.563046
2017-12-03    0.427443
2017-12-10    0.073129
2017-12-17    0.205270
2017-12-24    0.194121
2017-12-31    0.190394
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220749
2017-01-22    28.279665
2017-01-29    28.739210
2017-02-05    30.419498
2017-02-12    31.341911
2017-02-19    32.122971
2017-02-26    32.451973
2017-03-05    33.086288
2017-03-12    33.022385
2017-03-19    33.299313
2017-03-26    33.481556
2017-04-02    34.111134
2017-04-09    34.264980
2017-04-16    33.886284
2017-04-23    33.713497
2017-04-30    34.208172
2017-05-07    35.256699
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597660
2017-06-04    36.944645
2017-06-11    36.925629
2017-06-18    34.838963
2017-06-25    34.779533
2017-07-02    34.658337
2017-07-09    34.266182
2017-07-16    35.421223
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346294
2017-08-13    38.277935
2017-08-20    38.557102
2017-08-27    38.170570
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533230
2017-09-24    37.872326
2017-10-01    36.798637
2017-10-08    37.075405
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157791
2017-11-12    42.050140
2017-11-19    41.657749
2017-11-26    41.897194
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657749
2017-12-24    42.244396
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041645
2017-01-22    28.227823
2017-01-29    28.272596
2017-02-05    28.597811
2017-02-12    30.704647
2017-02-19    31.547823
2017-02-26    32.314693
2017-03-05    32.409370
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098122
2017-04-02    33.344269
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296940
2017-04-30    33.997520
2017-05-07    34.681553
2017-05-14    36.215267
2017-05-21    35.708813
2017-05-28    36.443184
2017-06-04    36.305340
2017-06-11    35.406967
2017-06-18    33.812263
2017-06-25    34.463440
2017-07-02    34.147350
2017-07-09    33.921577
2017-07-16    34.475334
2017-07-23    35.544807
2017-07-30    35.530552
2017-08-06    35.347553
2017-08-13    37.058716
2017-08-20    37.578854
2017-08-27    37.509659
2017-09-03    38.526073
2017-09-10    37.848461
2017-09-17    37.764954
2017-09-24    36.240330
2017-10-01    35.920612
2017-10-08    36.619698
2017-10-15    37.182781
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778706
2017-11-12    41.575325
2017-11-19    40.486820
2017-11-26    40.702320
2017-12-03    40.582600
2017-12-10    40.470051
2017-12-17    41.114170
2017-12-24    41.748737
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

In [102]:
std2 = fruit.resample('W').std()
max2 = fruit.resample('W').max()
min2 = fruit.resample('W').min()


print(std2)
print(max2)
print(min2)

Date
2018-01-07    0.311408
2018-01-14    0.288309
2018-01-21    0.339497
2018-01-28    0.684515
2018-02-04    0.758771
2018-02-11    0.744485
2018-02-18    1.116746
2018-02-25    0.465709
2018-03-04    0.400881
2018-03-11    0.431227
2018-03-18    0.362399
2018-03-25    1.060447
2018-04-01    0.656806
2018-04-08    0.610086
2018-04-15    0.439080
2018-04-22    1.237682
2018-04-29    0.272099
2018-05-06    1.748040
2018-05-13    0.500229
2018-05-20    0.218413
2018-05-27    0.139071
2018-06-03    0.354979
2018-06-10    0.248002
2018-06-17    0.301032
2018-06-24    0.361401
2018-07-01    0.311581
2018-07-08    0.438547
2018-07-15    0.330698
2018-07-22    0.137876
2018-07-29    0.395857
2018-08-05    2.142130
2018-08-12    0.218423
2018-08-19    0.863347
2018-08-26    0.110557
2018-09-02    0.949391
2018-09-09    0.791675
2018-09-16    0.747889
2018-09-23    0.226396
2018-09-30    0.585074
2018-10-07    0.688864
2018-10-14    1.254905
2018-10-21    0.619547
2018-10-28    0.764157
2018-11-04    1.401454
2018-11-11    0.865059
2018-11-18    0.706504
2018-11-25    1.381396
2018-12-02    0.730032
2018-12-09    1.637513
2018-12-16    0.492018
2018-12-23    1.481742
2018-12-30    1.182534
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    41.904381
2018-01-14    42.404831
2018-01-21    42.924454
2018-01-28    42.392864
2018-02-04    40.218624
2018-02-11    39.038128
2018-02-18    41.591965
2018-02-25    42.195446
2018-03-04    43.029739
2018-03-11    43.272575
2018-03-18    43.690918
2018-03-25    42.147350
2018-04-01    41.539074
2018-04-08    41.546284
2018-04-15    42.010300
2018-04-22    42.854221
2018-04-29    39.728638
2018-05-06    44.198231
2018-05-13    45.691296
2018-05-20    45.418564
2018-05-27    45.515110
2018-06-03    45.915749
2018-06-10    46.818424
2018-06-17    46.408131
2018-06-24    45.553715
2018-07-01    44.771725
2018-07-08    45.367878
2018-07-15    46.178841
2018-07-22    46.311588
2018-07-29    47.021168
2018-08-05    50.199841
2018-08-12    50.460510
2018-08-19    52.698631
2018-08-26    52.354698
2018-09-02    55.132774
2018-09-09    55.309578
2018-09-16    54.837280
2018-09-23    53.292027
2018-09-30    54.675011
2018-10-07    56.208160
2018-10-14    54.948696
2018-10-21    53.805500
2018-10-28    53.945976
2018-11-04    53.822453
2018-11-11    50.850620
2018-11-18    47.192741
2018-11-25    45.173004
2018-12-02    43.977207
2018-12-09    44.920235
2018-12-16    41.549149
2018-12-23    40.363071
2018-12-30    38.199944
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    41.241089
2018-01-14    41.734375
2018-01-21    42.189323
2018-01-28    40.972900
2018-02-04    38.432297
2018-02-11    37.151226
2018-02-18    39.120346
2018-02-25    41.130344
2018-03-04    42.075230
2018-03-11    42.082447
2018-03-18    42.801331
2018-03-25    39.656498
2018-04-01    40.026768
2018-04-08    40.074848
2018-04-15    40.885101
2018-04-22    39.844040
2018-04-29    39.026581
2018-05-06    39.733444
2018-05-13    44.518002
2018-05-20    44.967224
2018-05-27    45.172386
2018-06-03    45.102379
2018-06-10    46.268135
2018-06-17    45.577854
2018-06-24    44.631733
2018-07-01    43.967999
2018-07-08    44.390377
2018-07-15    45.346153
2018-07-22    45.954372
2018-07-29    46.094357
2018-08-05    45.836121
2018-08-12    49.987446
2018-08-19    50.589039
2018-08-26    52.083427
2018-09-02    52.785835
2018-09-09    53.599628
2018-09-16    52.880291
2018-09-23    52.718002
2018-09-30    53.386490
2018-10-07    54.323814
2018-10-14    51.940533
2018-10-21    52.320786
2018-10-28    52.095539
2018-11-04    50.252377
2018-11-11    48.825790
2018-11-18    45.401470
2018-11-25    41.874832
2018-12-02    42.348782
2018-12-09    40.951252
2018-12-16    40.219681
2018-12-23    36.634705
2018-12-30    35.686821
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [103]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597811
2017-02-28    32.423565
2017-03-31    34.002262
2017-04-30    33.999889
2017-05-31    36.305340
2017-06-30    34.228165
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772396
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

In [118]:
last_day2 = fruit.resample('M').agg(lambda x: x[-1])
print(last_day2)

Date
2018-01-31    40.091713
2018-02-28    42.825367
2018-03-31    40.339321
2018-04-30    39.733444
2018-05-31    45.102379
2018-06-30    44.677597
2018-07-31    45.927826
2018-08-31    55.132774
2018-09-30    54.675011
2018-10-31    53.008648
2018-11-30    43.403614
2018-12-31    37.971474
Freq: M, Name: Close, dtype: float64


Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [105]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [106]:
monthly_return2 = fruit.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return2)

Date
2018-01-31   -0.028039
2018-02-28    0.065957
2018-03-31   -0.041257
2018-04-30   -0.008519
2018-05-31    0.109347
2018-06-30   -0.026966
2018-07-31    0.016615
2018-08-31    0.133639
2018-09-30   -0.011473
2018-10-31   -0.036962
2018-11-30   -0.193578
2018-12-31   -0.154691
Freq: M, Name: Close, dtype: float64


Series object also provides us some convenient methods to do some quick calculation.

In [107]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863288803664998
0.05225845149290721
0.09901817765273635

In [108]:
print(monthly_return2.mean())
print(monthly_return2.std())
print(monthly_return2.max())

-0.014660587808817571
0.09441255958257326
0.13363933992121546


Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [109]:

print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825754
2017-03-31    1.578697
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077175
2017-07-31    1.119389
2017-08-31    3.782169
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817860
2017-12-31   -0.627377
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [119]:
print(last_day2.diff())
print(last_day2.pct_change())

Date
2018-01-31         NaN
2018-02-28    2.733654
2018-03-31   -2.486046
2018-04-30   -0.605877
2018-05-31    5.368935
2018-06-30   -0.424782
2018-07-31    1.250229
2018-08-31    9.204948
2018-09-30   -0.457764
2018-10-31   -1.666363
2018-11-30   -9.605034
2018-12-31   -5.432140
Freq: M, Name: Close, dtype: float64
Date
2018-01-31         NaN
2018-02-28    0.068185
2018-03-31   -0.058051
2018-04-30   -0.015020
2018-05-31    0.135124
2018-06-30   -0.009418
2018-07-31    0.027983
2018-08-31    0.200422
2018-09-30   -0.008303
2018-10-31   -0.030478
2018-11-30   -0.181197
2018-12-31   -0.125154
Freq: M, Name: Close, dtype: float64


Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [111]:

daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [120]:

daily_return2 = last_day2.pct_change()
print(daily_return2.fillna(0))

Date
2018-01-31    0.000000
2018-02-28    0.068185
2018-03-31   -0.058051
2018-04-30   -0.015020
2018-05-31    0.135124
2018-06-30   -0.009418
2018-07-31    0.027983
2018-08-31    0.200422
2018-09-30   -0.008303
2018-10-31   -0.030478
2018-11-30   -0.181197
2018-12-31   -0.125154
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [113]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [121]:
daily_return2 = last_day2.pct_change()
print(daily_return2.fillna(method = 'bfill'))

Date
2018-01-31    0.068185
2018-02-28    0.068185
2018-03-31   -0.058051
2018-04-30   -0.015020
2018-05-31    0.135124
2018-06-30   -0.009418
2018-07-31    0.027983
2018-08-31    0.200422
2018-09-30   -0.008303
2018-10-31   -0.030478
2018-11-30   -0.181197
2018-12-31   -0.125154
Freq: M, Name: Close, dtype: float64


As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [115]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [122]:
daily_return2 = last_day2.pct_change()
daily_return2.dropna()

Date
2018-02-28    0.068185
2018-03-31   -0.058051
2018-04-30   -0.015020
2018-05-31    0.135124
2018-06-30   -0.009418
2018-07-31    0.027983
2018-08-31    0.200422
2018-09-30   -0.008303
2018-10-31   -0.030478
2018-11-30   -0.181197
2018-12-31   -0.125154
Freq: M, Name: Close, dtype: float64

####**DataFrame**

The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

####**Create DataFrames**

The most common method of creating a DataFrame is passing a dictionary:

In [125]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [128]:
dict2 = {'Cam': [0, 5, 10, 15, 20],'tk':[10, 20, 30, 40, 50],
        'Apu':[0, 30, 15, 75, 50]}
data_index2 = pd.date_range('2018-07-03',periods = 5, freq = 'D')
df2 = pd.DataFrame(dict2, index = data_index2)
print(df2)

            Cam  tk  Apu
2018-07-03    0  10    0
2018-07-04    5  20   30
2018-07-05   10  30   15
2018-07-06   15  40   75
2018-07-07   20  50   50

####**Manipulating DataFrames**

We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: df['column_name']

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [132]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906761
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [131]:
df2 = FRUIT_TABLE
print(df2.Close.tail(5))
print(df2['Volume'].tail(5))

Date
2018-12-21    36.634705
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952034
2018-12-28    37.971474
Name: Close, dtype: float64
Date
2018-12-21    382978400
2018-12-24    148676800
2018-12-26    234330000
2018-12-27    212468400
2018-12-28    169165600
Name: Volume, dtype: int64


All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [135]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852380  22.440243  21.750945  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226401  23.412960  23.044508  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [136]:
fruit_2017 = df2['2017']
fruit_month = fruit_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852380  22.440243  21.750945  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226401  23.412960  23.044508  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]


We may select certain columns of a DataFrame using their names:

In [137]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226401  23.412960  23.044508  23.287033
2016-06-30  22.023108  22.333258  21.990461  22.293615
2016-07-31  24.296778  24.380729  24.177847  24.301441
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [138]:
fruit_bar = fruit_month[['Open', 'High', 'Low', 'Close']]
print(fruit_bar)

                 Open       High        Low      Close
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104035  34.153741  33.909955  33.999893
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-06-30  34.330365  34.451576  34.171132  34.228172
2017-07-31  35.625618  35.727815  35.204958  35.347553
2017-08-31  39.043824  39.253790  39.005648  39.129719
2017-09-30  36.555277  36.774784  36.266574  36.772396
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831633  40.848393  40.520342  40.522736


We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [139]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226401  23.412960  23.044508  23.287033
2016-06-30  22.023108  22.333258  21.990461  22.293615

In [141]:
print(fruit_month.loc['2017-03':'2017-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104035  34.153741  33.909955  33.999893
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-06-30  34.330365  34.451576  34.171132  34.228172

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [142]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [143]:
above2 = fruit_bar[fruit_bar.Close > np.mean(fruit_bar.Close)]
print(above2)

                 Open       High        Low      Close
Date
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-08-31  39.043824  39.253790  39.005648  39.129719
2017-09-30  36.555277  36.774784  36.266574  36.772396
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831633  40.848393  40.520342  40.522736

####**Data Validation**
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [144]:

aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [145]:
fruit_bar['rate_return'] = aapl_bar.Close.pct_change()
print(fruit_bar)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN
2017-05-31  36.592905  36.640437  36.215023  36.305332          NaN
2017-06-30  34.330365  34.451576  34.171132  34.228172          NaN
2017-07-31  35.625618  35.727815  35.204958  35.347553          NaN
2017-08-31  39.043824  39.253790  39.005648  39.129719          NaN
2017-09-30  36.555277  36.774784  36.266574  36.772396          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.


Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. isnull() provides a convenient way to check abnormal values.

In [146]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [147]:
missing2 = fruit_bar.isnull()
print(missing2)
print('---------------------------------------------')
print(missing2.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False         True
2017-03-31  False  False  False  False         True
2017-04-30  False  False  False  False         True
2017-05-31  False  False  False  False         True
2017-06-30  False  False  False  False         True
2017-07-31  False  False  False  False         True
2017-08-31  False  False  False  False         True
2017-09-30  False  False  False  False         True
2017-10-31  False  False  False  False         True
2017-11-30  False  False  False  False         True
2017-12-31  False  False  False  False         True
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           1
top     False  False  False  False        True
freq       12     12     12     12          12

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [148]:

print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [149]:

print(missing2[missing2.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False         True
2017-03-31  False  False  False  False         True
2017-04-30  False  False  False  False         True
2017-05-31  False  False  False  False         True
2017-06-30  False  False  False  False         True
2017-07-31  False  False  False  False         True
2017-08-31  False  False  False  False         True
2017-09-30  False  False  False  False         True
2017-10-31  False  False  False  False         True
2017-11-30  False  False  False  False         True
2017-12-31  False  False  False  False         True


Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method dropna() and fillna() can be applied to a DataFrame.

In [150]:

drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [151]:
drop2 = fruit_bar.dropna()
print(drop2)
print('\n--------------------------------------------------\n')
fill2 = fruit_bar.fillna(0)
print(fill)

Empty DataFrame
Columns: [Open, High, Low, Close, rate_return]
Index: []

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

####**DataFrame Concat**

We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function concat() allows us to merge multiple Series into a DataFrame:

In [152]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [154]:
s12 = pd.Series([0, 5, 10, 15, 20], name = 'Cam')
s22 = pd.Series([10, 15, 20, 25, 30], name = 'GOOG')
data_frame2 = pd.concat([s12,s22], axis = 1)
print(data_frame2)

   Cam  GOOG
0    0    10
1    5    15
2   10    20
3   15    25
4   20    30


The "axis = 1" parameter will join two DataFrames by columns:

In [155]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773   3.147897
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660   3.104300
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [156]:
log_price2 = np.log(fruit_bar.Close)
log_price2.name = 'log_price2'
print(log_price2)
print('\n---------------------- separate line--------------------\n')
concat2 = pd.concat([fruit_bar, log_price2], axis = 1)
print(concat2)

Date
2017-01-31    3.353330
2017-02-28    3.478886
2017-03-31    3.526427
2017-04-30    3.526357
2017-05-31    3.591965
2017-06-30    3.533049
2017-07-31    3.565229
2017-08-31    3.666882
2017-09-30    3.604747
2017-10-31    3.697151
2017-11-30    3.717226
2017-12-31    3.701863
Freq: M, Name: log_price2, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price2
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN    3.353330
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN    3.478886
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN    3.526427
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN    3.526357
2017-05-31  36.592905  36.640437  36.215023  36.305332          NaN    3.591965
2017-06-30  34.330365  34.451576  34.171132  34.228172          NaN    3.533049
2017-07-31  35.625618  35.727815  35.204958  35.347553          NaN    3.565229
2017-08-31  39.043824  39.253790  39.005648  39.129719          NaN    3.666882
2017-09-30  36.555277  36.774784  36.266574  36.772396          NaN    3.604747
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN    3.697151
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN    3.717226
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN    3.701863


We can also join two DataFrames by rows. Consider these two DataFrames:

In [157]:

df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [159]:

df_volume2 = FRUIT_TABLE.loc['2017-10':'2018-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume2)
print('\n---------------------- separate line--------------------\n')
df_2018 = FRUIT_TABLE.loc['2017-10':'2018-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2018)

               Volume  Stock Splits
Date
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0
2018-01-31  129915600             0
2018-02-28  151128400             0
2018-03-31  153594000             0
2018-04-30  169709600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-10-31  40.060250  40.477792  39.831199  40.332249
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831633  40.848393  40.520342  40.522736
2018-01-31  39.957620  40.333563  39.869023  40.091713
2018-02-28  43.099457  43.426442  42.808539  42.825367
2018-03-31  40.346534  41.293828  40.127742  40.339321
2018-04-30  38.980901  40.214304  38.911174  39.733444

In [160]:

concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852380  22.440243  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226401  23.412960  ...          NaN           NaN
2016-06-30  22.023108  22.333258  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [161]:

concat2 = pd.concat([fruit_bar, df_volume2], axis = 1)
print(concat2)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2017-01-31  28.550681  28.607239  ...          NaN           NaN
2017-02-28  32.444870  32.530077  ...          NaN           NaN
2017-03-31  34.016451  34.146629  ...          NaN           NaN
2017-04-30  34.104035  34.153741  ...          NaN           NaN
2017-05-31  36.592905  36.640437  ...          NaN           NaN
2017-06-30  34.330365  34.451576  ...          NaN           NaN
2017-07-31  35.625618  35.727815  ...          NaN           NaN
2017-08-31  39.043824  39.253790  ...          NaN           NaN
2017-09-30  36.555277  36.774784  ...          NaN           NaN
2017-10-31  40.060250  40.477792  ...  144187200.0           0.0
2017-11-30  40.810073  41.219541  ...  166108800.0           0.0
2017-12-31  40.831633  40.848393  ...  103999600.0           0.0
2018-01-31        NaN        NaN  ...  129915600.0           0.0
2018-02-28        NaN        NaN  ...  151128400.0           0.0
2018-03-31        NaN        NaN  ...  153594000.0           0.0
2018-04-30        NaN        NaN  ...  169709600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [162]:

concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [164]:
concat2 = pd.concat([fruit_bar,df_volume2],axis = 1, join = 'inner')
print(concat2)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-10-31  40.060250  40.477792  ...  144187200             0
2017-11-30  40.810073  41.219541  ...  166108800             0
2017-12-31  40.831633  40.848393  ...  103999600             0

[3 rows x 7 columns]



Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [165]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [166]:
append2 = fruit_bar.append(df_2018)
print(append2)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN
2017-05-31  36.592905  36.640437  36.215023  36.305332          NaN
2017-06-30  34.330365  34.451576  34.171132  34.228172          NaN
2017-07-31  35.625618  35.727815  35.204958  35.347553          NaN
2017-08-31  39.043824  39.253790  39.005648  39.129719          NaN
2017-09-30  36.555277  36.774784  36.266574  36.772396          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2018-01-31  39.957620  40.333563  39.869023  40.091713          NaN
2018-02-28  43.099457  43.426442  42.808539  42.825367          NaN
2018-03-31  40.346534  41.293828  40.127742  40.339321          NaN
2018-04-30  38.980901  40.214304  38.911174  39.733444          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [167]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [168]:
concat2 = pd.concat([fruit_bar, df_2018], axis = 0)
print(concat2)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN
2017-05-31  36.592905  36.640437  36.215023  36.305332          NaN
2017-06-30  34.330365  34.451576  34.171132  34.228172          NaN
2017-07-31  35.625618  35.727815  35.204958  35.347553          NaN
2017-08-31  39.043824  39.253790  39.005648  39.129719          NaN
2017-09-30  36.555277  36.774784  36.266574  36.772396          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2018-01-31  39.957620  40.333563  39.869023  40.091713          NaN
2018-02-28  43.099457  43.426442  42.808539  42.825367          NaN
2018-03-31  40.346534  41.293828  40.127742  40.339321          NaN
2018-04-30  38.980901  40.214304  38.911174  39.733444          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [169]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773        NaN
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660        NaN
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441490  25.986658  26.045574          NaN  26.300092
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607238  28.425777  28.597811          NaN  28.550679
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [170]:
df_2018.columns = ['Change', 'High','Low','Close']
concat22 = pd.concat([fruit_bar, df_2018], axis = 0)
print(concat2)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN
2017-05-31  36.592905  36.640437  36.215023  36.305332          NaN
2017-06-30  34.330365  34.451576  34.171132  34.228172          NaN
2017-07-31  35.625618  35.727815  35.204958  35.347553          NaN
2017-08-31  39.043824  39.253790  39.005648  39.129719          NaN
2017-09-30  36.555277  36.774784  36.266574  36.772396          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2017-10-31  40.060250  40.477792  39.831199  40.332249          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831633  40.848393  40.520342  40.522736          NaN
2018-01-31  39.957620  40.333563  39.869023  40.091713          NaN
2018-02-28  43.099457  43.426442  42.808539  42.825367          NaN
2018-03-31  40.346534  41.293828  40.127742  40.339321          NaN
2018-04-30  38.980901  40.214304  38.911174  39.733444          NaN


Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

####**Summary**

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the Pandas official documentations for help.